body {
    
    background-image: url("http://www.vektorgarten.de/img/tut/illustrator-guillochen-stylisch.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.navigation {
    background-color: #284675;
    float: left;
    width: 100%;
    
}

.navigation li {
    
    float: left;
    list-style: none;
    
}

.navigation a:link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px 1px 5px;
}

.navigation a:hover {
    color: #284675;
    background-color: white;
    text-decoration: none;
}

.container {
    
    width:1050px;
    margin: auto;
    
}


#logo {
    content: url("http://www.ard.de/pool/img/ard/banner/logo_base.png");
    width:250px;

}

#searchfield {
    
    float:right;
    position: relative;
    top: -42px;
    left: -60px;
}

#searchfield input {
    
    height:20px;
    background-image: url("http://www.ard.de/pool/img/base/icon/lupe_gross.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}

#topbox {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 320px;
    width: 1050px;
    
}

#blueHeader {
    background-color: #0074CD;
    height:20px;
    margin: 5px;
    padding: 2px;
    
}

#blueHeader a:link {
    text-decoration: none;
    color: white;
    
}

#blueHeader a:hover {
    
    text-decoration: underline;
}

#imageLarge {
    
    float: left;
    margin: 0px 5px 0 5px;

}

p {
    
    margin: 8px;
    
}

h3 {
    
    margin: 3px;
    
}

#centerBox {
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.middleBox {
    width: 500px;
    margin: 10px;
    float: left;
    
    
}

#middleBoxHeaderBlue {
    background-color: #516384;
    width: 500px;
    padding: 2px;
    margin-bottom: 1px;
    
}

#middleBoxHeaderBlue a:link {
    text-decoration: none;
    color: white;
}

#middleBoxHeaderBlue a:hover {
    text-decoration: underline;
}

#middleBoxHeaderOrange {
    background-color: #FF3300;
    width: 500px;
    padding: 2px;
    margin-bottom: 1px;
    
}

#middleBoxHeaderOrange a:link {
    text-decoration: none;
    color: white;
}

#middleBoxHeaderOrange a:hover {
    text-decoration: underline;
}